.table {
  background-color: #fff;
  border-radius: 10px;
  margin: 14px auto;
  max-width: 700px;
  width: 60%;
}

.table__header {
  background-color: #717e93;
  border-radius: 3px 3px 0px 0px;
}

.b.edit {
  background-color: #edf2f6;
  margin-top: 10px;
  padding: 8px;
}
.fa-w-16 {
  margin-right: 5px;
}

.job__description {
  display: inline-block;
  font-size: 1rem;
}

.table__article {
  background-color: #fff;
  display: flex;
  padding: 22px 20px;
}

.job {
  background-color: #717e93;
  border-radius: 5px 5px 0px 0px;
  padding: 20px;
}

.table__hr {
  margin: 0px auto;
  width: 90%;
}

.pay {
  border-radius: 0px 0px 5px 5px;
}

.a {
  color: #717e93;
  font-size: .8rem;
  padding-left: 20px;
  width: 170px;
}

.a.job {
  color: #fff;
  font-size: .9rem;
}

.b {
  color: #717e93;
  font-size: .8rem;
}

.b.description-full {
  height: 80px;
  max-width: 70%;
}


















