* {
box-sizing: border-box;
font-family: sans-serif;
font-size: 16px;
margin: 0;
padding: 0;
}

main {
  background-color: #edf2f6;
  float: right;
  height: 100%; 
  width: calc(100% - 220px);
}

.four-graphs {
  padding-right: 20px; 
}

.bar-chart-area {
  float: right;
  width: 40%;
}

.bar-chart-image {
  height: 220px;
}

.chart-number {
  color: #737e91;
  font-size: 10px;
}

.chart-text {
  color: #737e91;
  font-size: 4px;
}

.btn__blood-lust-area {
  display: flex;
  justify-content: center;
}

.btn__blood-lust {
  border-radius: 20px;
  padding: 3px 20px;
}

.btn__blood-lust:hover {
  background-color: red;
}

.section__circle-graphs {
  display: flex;
  padding-top: 25px;
  width: 60%;
}

.donut {
  height: 200px;
}

.btn__total-area {
  display: flex;
  justify-content: center;
  width: 60%;
}

.btn__total {
  border-radius: 20px;
  padding: 3px 20px;
}

.btn__total:hover {
  background-color: red;
}

.section__hrs-and-arrow {
  display: flex;
  margin: 45px auto;
  width: 95%;
}

.two__hr {
  width: 50%;
}

.arrow__up {
  margin: -8px 3px;
}

.lower__half {
  display: flex;
  padding-bottom: 30px;
}












