@media screen and (max-width: 1255px) {
  nav {
    height: 1256px;;
  }

  .section__circle-graphs {
    width: 50%;
  }

  .bar-chart-area {
    width: 50%;
  }

  .btn__total-area {
    position: absolute;
    width: 50%;
  }
}

@media screen and (max-width: 1060px) {
  nav {
  height: 1405px;
  }

  header {
    height: 232px;
  }

  h1 {
    font-size: 1.7em;
  }

  .page__menu {
    width: 95%;
  }

  .four-graphs {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    width: 60%;
  }

  .bar-chart-area {
    width: 100%;
  }

  .bar-chart {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .bar-chart-image {
    height: 222px;
  }

  .section__circle-graphs {
    height: 180px;
    padding-top: 0px;
    width: 100%;
  }

  .btn__total-area {
    position: relative;
    width: 100%;
  }

  .section__hrs-and-arrow {
    display: none;
  }

  .lower__half {
    margin-top: 20px;
  }

  .social__media {
    margin: 17px auto 0px;
    width: 30%;
  }
}

@media screen and (max-width: 930px) {
  nav {
    display: none;
  }

  header {
    height: 307px;
  }

  main {
    width: 100%;
  }

  .group__four-btns {
    float: none;
    left: 210px;
    margin: 0px;
    position: relative;
    top: 94px;
  }

  h1 {
    font-size: 1.4rem;
  }

  .header__location {
    margin-top: 18px;
  }

  .page__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: normal;
    list-style-type: none;
    margin-top: 40px;
    width: 100%;
  }

  .menu__item {
    width: 25%;
  }

  .menu__item:hover {
    border-bottom: 2px solid transparent;
  }
}

@media screen and (max-width: 680px) {
  header {
    height: 290px;
  }

  .search__btn {
    height: 60px;
    width: 60px;
  }

  .header__search-bar {
    height: 60px;
    width: calc(100% - 240px);
  }

  .lower__half {
    flex-direction: column;
  }

  .table {
    width: 70%;
  }

  .social__media {
    width: 70%
  }

  .social__input {
    width: 90%;
  }

  .copy__btn {
    width: 8%;
  }

  .section__circle-graphs {
    margin-left: -20%;
    padding-top: 0px;
    width: 140%;
  }
}

@media screen and (max-width: 680px) {
  .navigate__page-content {
    padding: 0px 3%;
  }

  .table {
    width: 88%;
  }

  .social__media {
    width: 88%;
  }

  .menu__item {
    font-size: 13px;
    padding-bottom: 12px;
  }

  .section__circle-graphs {
    flex-direction: column;
    height: 545px;
  }

  .menu__dis {
    display: none;
  }
  .b.description-full {
    height: 103px;
    max-width: 55%;
  }
}

@media screen and (max-width: 435px) {
  h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .menu__item {
    font-size: 14px;
    padding-bottom: 12px;
    width: 33%;
  }

  .b.description-full {
    height: 149px;
    max-width: 48%;
  }

  .btn__dis {
    display: none;
  }

  .header__search-bar {
    height: 60px;
    width: calc(100% - 60px);
  }

  .group__four-btns {
    display: none;
  }

  .bar-chart-image {
    height: 205px;
  }

 header {
    height: 258px;
  }

  .page__menu {
    margin-top: 0px;
  }

  .header__location {
    margin: 18px auto;
  }

  .bar-chart-image {
    height: 175px;
  }
}

@media screen and (max-width: 435px) {
  .bar-chart-image {
    height: 145px;
  }
}

@media screen and (device-aspect-ratio: 40/71) {
  body {
    overflow-x: hidden;
  }

  .bar-chart-image {
    height: 173px;
  }

  header {
    height: 269px;
  }

  .b.description-full {
    height: 184px;
    max-width: 43%;
  }
}









