.social__media {
  display: flex;
  flex-direction: column;
  margin: 17px auto 0px;
  width: 25%;
}

.social__btn {
  border-radius: 3px;
  margin-bottom: 15px;
  padding: 12px;
  width: 100%;
}

.social__btn:hover {
  box-shadow: 0 8px 6px -6px #ccc;
  opacity: .8;
}

.links {
  color: #fff;
  text-decoration: none;
}

.facebook {
  background-color: #3f5a93;
}

.twitter {
  background-color: #46a1ec;
}

.linkedin {
  background-color: #2e76b0;
}

.social__h2 {
  color: #737e91;
  margin: 15px 0px;
}

.social__p {
  color: #737e91;
  margin-bottom: 15px;
  width: 90%;
}

.social__input {
  border-radius: 3px 0px 0px 3px;
  height: 2rem;
  width: 80%;
}

.social__input.full {
  width: 100%;
}

.social__hr {
  margin: 25px 0px 8px;
}

.copy__btn {
  background-color: #65b5be;
  border-radius: 0px 5px 5px 0px;
  color: #fff;
  font-size: .7rem;
  height: 2rem;
  margin-left: -6px;
  position: absolute;
  width: 4.2%;
}

















